*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
    position: absolute;
   z-index: -1;
   width: 60%;
   bottom: 125px;
   left: 75px;
}

.clock{
   height: 400px;
   width: 400px;
   background-color: rgb(193, 242, 15);
   border-radius: 60%;
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   margin:auto;
   box-shadow: 0px 0px 15px sandybrown;
   border: 6px solid rgb(168, 82, 82);
}
.second{
     position: absolute;
     background-color: rgb(32, 164, 164);
     width: 9px;
     height: 170px;
     top: 20px;
     left: 195px;
     border: 1px solid black;
     animation: secondneedle 10s infinite;
     transform-origin: bottom center;
     animation-timing-function: linear;
     z-index: 1;
}
@keyframes secondneedle
{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

.circle{

    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(228, 179, 94);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 15px;
    border: 1px solid black;
    z-index: 1;


}

.one{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(200, 235, 147);
    left: 250px;
    right: 80px;
    top: -240px;
    bottom: 40px;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 15px;
    border: 1px solid black;
}

.eleven{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(200, 235, 147);
    left: 80px;
    right: 250px;
    top: -240px;
    bottom: 40px;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 15px;
    border: 1px solid black;

}

.twele{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(200, 235, 147);
    left: 170px;
    right: 300px;
    top: -240px;
    bottom: 80px;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 15px;
    border: 1px solid black;

}

.six{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(200, 235, 147);
    left: 170px;
    right: 300px;
    top: 80px;
    bottom: -240px;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 15px;
    border: 1px solid black;

}

.two{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(200, 235, 147);
    left: 310px;
    right: 300px;
    top: 100px;
    bottom: 250px;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 15px;
    border: 1px solid black;

}

.three{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(200, 235, 147);
    left: 330px;
    right: 300px;
    top: 200px;
    bottom: 250px;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 15px;
    border: 1px solid black;

}

.four{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(200, 235, 147);
    left: 310px;
    right: 300px;
    top: 250px;
    bottom: 80px;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 15px;
    border: 1px solid black;

}

.ten{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(200, 235, 147);
    left: 30px;
    right: 860px;
    top: 100px;
    bottom: 250px;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 15px;
    border: 1px solid black;

}

.eight{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(200, 235, 147);
    left: 30px;
    right: 300px;
    top: 250px;
    bottom: 80px;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 15px;
    border: 1px solid black;

}
.nine{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(200, 235, 147);
    left: -10px;
    right: 300px;
    top: 200px;
    bottom: 250px;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 15px;
    border: 1px solid black;

}
.seven{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(200, 235, 147);
    left: 90px;
    right: 500px;
    top: 340px;
    bottom: 550px;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 15px;
    border: 1px solid black;

}

.five{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(200, 235, 147);
    left: 250px;
    right: 500px;
    top: 340px;
    bottom: 550px;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 15px;
    border: 1px solid black;

}

.hour{

    position: absolute;
    background-color: red;
    width: 8px;
    height: 130px;
    top: 70px;
    left: 195px;
    border: 1px solid black;
    animation: hourneedle 60s infinite;
    transform-origin: bottom center;
    animation-timing-function: linear;
    z-index: 1;

}
@keyframes hourneedle {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
    
}
.minutes{
    position: absolute;
    background-color: black;
    width: 6px;
    height: 150px;
    top: 40px;
    left: 200px;
         border: 1px solid black;
    animation: minutesneedle 20s infinite;
    transform-origin: bottom center;
    animation-timing-function: linear;
    z-index: 1;


}
@keyframes minutesneedle{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}